<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EnrollmentProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>showtrainings</display-name>
    <servlet-name>showtrainings</servlet-name>
    <servlet-class>com.glbajaj.enroll.contoller.showtrainings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showtrainings</servlet-name>
    <url-pattern>/showtrainings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.glbajaj.enroll.contoller.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespServlet</display-name>
    <servlet-name>RespServlet</servlet-name>
    <servlet-class>com.glbajaj.enroll.contoller.RespServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespServlet</servlet-name>
    <url-pattern>/RespServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTraining</display-name>
    <servlet-name>AddTraining</servlet-name>
    <servlet-class>com.glbajaj.enroll.contoller.AddTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTraining</servlet-name>
    <url-pattern>/AddTraining</url-pattern>
  </servlet-mapping>
</web-app>